<div class="container">
    <div class="back-navigation">
        <i class="fa-solid fa-square-caret-left back" (click)="backNavigation()"></i>
    </div>
    <div class="frame">
        <div class="author-container">
            <span class="author">written by {{author}}</span>
        </div>
        <div class="image-container">
            <img class="image" src="{{image}}" alt="blog-image">
        </div>
        <h3 class="title">{{name}}</h3>
        <p class="text">{{text}}</p>

    </div>


</div>