.pagination{
    margin-top: 10px;
    
}

.list-group-text{
    text-decoration: none;
    color: black;
}

.list-group-item{
    cursor: pointer;
}

.list-group :hover{
    background-color: cyan;
}