
<!-- todo add search -->
<div>

    <div class="container">
        
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
        </nav>
        <ul class="list-group">
            <li *ngFor="let blog of blogs; let i = index" class="list-group-item" (click)="clickListItem(i)">{{blogs[i]["name"]}}</li>
        </ul>
        <div class="pagination">
            <nav aria-label="Page navigation">
                <ul class="paginate">
                    <button  [disabled]="!hasPrevious" (click)="previousButton()">Previous</button>
                    <button *ngFor="let item of counter;let i = index" (click)="spesificButton(i)" >{{i+1}}</button>
                    <button  [disabled]="!hasNext" (click)="nextButton()">Next</button>
                </ul>
            </nav>
        </div>
    </div>
</div>